<body>
  <top-bar></top-bar>

  <new-book (newBookSelected)="onBookSelected($event)"></new-book>
  <search-bar (value)="onSearch($event)" class="mt-0.5"></search-bar>

  <!-- Contenedor con márgenes horizontales y espaciamiento entre tarjetas -->
  <div class="mx-auto max-w-7xl px-6 pb-16">
    <div class="flex flex-wrap justify-center gap-8">
     
        @for (book of filteredBooks(); track $index) {
          <book-card
            [bookCard]="book"
            (delete)="onDeleteBook($event)"
            (update)="onUpdateBook($event)"
          >
          </book-card>
        }
      
      
    </div>
  </div>
</body>
